.page{width:80vw;border:1px solid pink}
nav ul li{display:inline;}
#page1{background:#FFBCE1}
#page2{background:#FFC7E6}
#page3{background:#FFD8ED}
#page4{background:#FFE3F2}

/*CSS for responsive menu*/
#hamIcon{display:none;}
@media (max-width:800px){
/*make a menu items vertical*/
nav ul li{display:block;}
/* unhide menu icon */
#hamIcon{display:block;}
/*hide the menu item list*/
nav ul{display:none;}
}
/*to unhide menu items*/
.menuShow{display:block;}

/*fox*/
#foxId {position: relative;width:15vw}

#foxId {position: relative;width:15vw;
transition: all 0.5s;
}
#foxId.shrink{width:5vw;opacity: 0;}

@keyframes foxFrames{
0%{rotate:0deg}
25%{rotate:90deg}
50%{rotate:180deg}
100%{rotate:270deg}
}
#foxId.anim1{animation: foxFrames 1s;}

/*Qrcode*/
@media (max-width:800px){ /*at mobile size*/
#qrCodeImg{display:none;} /*hide QR code */
div::after{content:"(mobile)";}/*append text 'mobile’ */
}